<div class="tab-pane fade" id="admin-products">
    <div class="row pb-3">
        <div class="col-12 table-responsive">
            <div class="row pb-3 justify-content-end">
                <div class="col-auto">
                    <a role="button" class="btn btn-primary btn-sm" href="<%=`/admin/product/create`%>">+ New Product</a>
                </div>
            </div>
            <table class="table">
                <thead class="thead-light">
                    <tr class="table-active">
                        <th class="align-middle"></th>
                        <th class="align-middle">Title</th>
                        <th class="align-middle">Slug</th>
                        <th class="align-middle">SKU</th>
                        <th class="align-middle">Category</th>
                        <th class="align-middle">Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product => { %>
                        <tr>
                            <td class="align-middle"><% if(product.images && product.images.length > 0) { %><img style="width: 60px; height: 60px; object-fit: cover" src="<%= product.images[0].url %>" alt="<%= product.images[0].alt %>"><% } %></td>
                            <td class="align-middle"><%= product.title ? product.title : ""%></td>
                            <td class="align-middle"><%= product.slug ? product.slug : "" %></td>
                            <td class="align-middle"><%= product.sku ? product.sku : "" %></td>
                            <td class="align-middle"><%= product.category ? product.category.title : "" %></td>
                            <td class="align-middle">$<%= product.price ? product.price : "" %></td>
                            <td class="align-middle text-end"><a role="button" class="btn btn-outline-secondary btn-sm" href="<%=`/admin/product/${product.slug}`%>">Edit</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>