<div class="tab-pane fade" id="admin-users">
    <div class="row pb-3">
        <div class="col-12 table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr class="table-active">
                        <th class="align-middle"></th>
                        <th class="align-middle">Last Name</th>
                        <th class="align-middle">First Name</th>
                        <th class="align-middle">Email</th>
                        <th class="align-middle text-center">Admin</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td class="align-middle text-center"><% if(user.profileImage) { %>
                                <% if(currentUser.profileImage) { %>
                                    <img style="width: 40px; height: 40px; object-fit: cover" src="<%= user.profileImage.url %>" alt="<%= user.profileImage.alt %>"><% } %>
                                    <% } else { %>
                                    <img src="/img/account/blank-user.jpg" alt="" style="width: 40px; height: 40px; object-fit: cover" >
                                <% } %>
                            </td>
                            <td class="align-middle"><%= user.name.first ? user.name.first : ""%></td>
                            <td class="align-middle"><%= user.name.last ? user.name.last : "" %></td>
                            <td class="align-middle"><%= user.email ? user.email : "" %></td>
                            <td class="align-middle text-center"><%= user.admin %></td>
                            <td class="align-middle text-end"><a role="button" class="btn <%= user.admin ? "btn-warning" : "btn-success"%> btn-sm" href="<%=`/admin/user/${user._id}/${user.admin ? 1 : 0}/toggle-admin`%>"><%= user.admin ? "Revoke Admin" : "Grant Admin" %></a></td>
                            <td class="align-middle text-end"><a role="button" class="btn btn-outline-danger btn-sm" href="<%=`/admin/user/${user._id}/remove`%>">Delete</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>