<div class="tab-pane fade show active" id="account-general">
    <form action="/account/update" method="POST" role="form" encType="multipart/form-data">
        <div class="row pb-3 align-items-center">
            <div class="col-auto">
                <% if(currentUser.profileImage) { %>
                    <img src="<%= `/img/${currentUser.profileImage.url}` %>" alt="<%= `${currentUser.profileImage.alt}` %>" class="d-block ui-w-125 rounded-circle">
                <% } else { %>
                    <img src="/img/account/blank-user.jpg" alt="" class="d-block ui-w-125 rounded-circle">
                <% } %>
            </div>
            <div class="col-auto">
                <label class="btn btn-outline-primary">
                    Upload new photo
                    <input type="file" name="image" id="image" class="account-settings-fileinput">
                </label>
                <div class="text-light small mt-1">Allowed JPG, JPEG, or PNG</div>
            </div>
        </div>
        <hr class="border-light m-0">
        <div class="form-group col-8 py-2">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control mt-1" id="fName" name="fName" placeholder="First Name" value="<%= currentUser.name.first %>" required>
        </div>
        <div class="form-group col-8 py-2">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control mt-1" id="lName" name="lName" placeholder="Last Name" value="<%= currentUser.name.last %>" required>
        </div>
        <div class="form-group col-8 py-2">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email" value="<%= currentUser.email %>" required>
        </div>
        <div class="form-group col-8 py-2">
            <button type="submit" class="btn btn-success btn-lg px-3">Update</button>
        </div>
    </form>
</div>