<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src=".//img/banner_img_01.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Fashionable</b> Tees</h1>
                            <h3 class="h2">Your one stop shop to a cooler closet</h3>
                            <p>
                                Wecome to Covert Tees! As the top online shirt retailer in the world, we are dedicated to providing you with top service and the highest quality products possible.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src=".//img/banner_img_02.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Trusted Brands</h1>
                            <h3 class="h2">Focused on the Earth</h3>
                            <p>
                                We are very selective about who we choose to use our brand with. That's why we only partner with brands that are environmentally concious.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src=".//img/banner_img_03.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Low Prices</h1>
                            <h3 class="h2">Highest Quality </h3>
                            <p>
                                Our techology allows us to make our extremely durable, elastic, and well fitted shirts for a low cost. We want to be transparent. 
                                We use that low cost to make YOUR cost even lower. That's how much we love our customers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories of The Month</h1>
            <p>
                This fall's collection consists of the most popular and innovative tshirts known to man.
                With a Gushy Graphic, a Cunning Crew Neck, and a Prestine Polo, these new products will have you shaking in your boots and wanting to buy more.
            </p>
        </div>
    </div>
    <div class="row">
        <% topCategories.forEach(category => { %>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="<%=`/shop#${category.slug}`%>"><img src="<%=`${category.image.url}`%>" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3"><%= category.title %></h5>
                <p class="text-center"><a class="btn btn-success" href="<%=`/shop#${category.slug}`%>">Shop Now</a></p>
            </div>
        <% }) %>
    </div>
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Products</h1>
                <p>
                    You can never go wrong with our featured products. From best sellers, to highest rated, our featured products lineup has a little something for everyone.
                </p>
            </div>
        </div>
        <div class="row">
            <% products.forEach(product => { %>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="/shop">
                            <img src="<%= product.images[0].url %>"" class="card-img-top" alt="<%= product.images[0].alt %>">
                        </a>
                        <div class="card-body">
                            <a href="/shop" class="h2 text-decoration-none text-dark"><%= product.title %></a>
                            <p class="card-text">
                                <%= product.description.split(" ").slice(0, 16).join(" ") %>...
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>    
        </div>
    </div>
</section>