<input type="hidden" name="id" value="<%= category ? category._id : '' %>">
<% if(category) {%>
    <div class="row pb-3 align-items-center">
        <div class="col-auto">
            <% if(category.image) { %>
                <img src="<%= `${category.image.url}` %>" alt="<%= `${category.image.alt}` %>" class="d-block ui-w-125 rounded">
            <% } else { %>
                <img src="/img/missing_image.jpg" alt="" class="d-block ui-w-125 rounded">
            <% } %>
        </div>
        <div class="col-auto">
            <label class="btn btn-outline-primary">
                Upload new photo
                <input type="file" name="image" id="image" class="account-settings-fileinput">
            </label>
            <div class="text-light small mt-1">Allowed JPG, JPEG, or PNG</div>
        </div>
    </div>
<% } %>
<div class="form-group col-6 py-2">
    <label class="form-label">Title</label>
    <input type="text" class="form-control mt-1" id="title" name="title" placeholder="Category Title" value="<%= category ? category.title : '' %>" required>
</div>
<div class="form-group col-6 py-2">
    <label class="form-label">Slug</label>
    <input type="text" class="form-control mt-1" id="slug" name="slug" placeholder="Category Slug" value="<%= category ? category.slug : '' %>" required>
</div>
<div class="form-group col-12 py-2">
    <label class="form-label">Description</label>
    <textarea type="text" class="form-control" id="description" name="description" placeholder="Category Description..." required><%= category ? category.description : ''%></textarea>
</div>
<div class="form-group col-8 py-2">
    <button type="submit" class="btn btn-success btn-lg px-3"><%= category ? 'Update' : 'Create' %></button>
</div>