<input type="hidden" name="id" value="<%= category ? category._id : '' %>">
<div class="form-group col-6 py-2">
    <label class="form-label">Title</label>
    <input type="text" class="form-control mt-1" id="title" name="title" placeholder="Category Title" value="<%= category ? category.title : '' %>" required>
</div>
<div class="form-group col-6 py-2">
    <label class="form-label">Slug</label>
    <input type="text" class="form-control mt-1" id="slug" name="slug" placeholder="Category Slug" value="<%= category ? category.slug : '' %>" required>
</div>
<div class="form-group col-12 py-2">
    <label class="form-label">Description</label>
    <textarea type="text" class="form-control" id="description" name="description" placeholder="Category Description..." required><%= category ? category.description : ''%></textarea>
</div>
<div class="form-group col-8 py-2">
    <button type="submit" class="btn btn-success btn-lg px-3"><%= category ? 'Update' : 'Create' %></button>
</div>