<div class="container py-5">
    <div class="row">
        <div class="col-xs-12">
            <div class="grid invoice">
                <div class="grid-body">
                    <div class="invoice-title">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <!-- <img src="http://vergo-kertas.herokuapp.com/assets/img/logo.png" alt="" height="35"> -->
                                <h1>Thank you for your order, <%= order.user.name.first %>! </h1>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>invoice<br>
                                    <span class="small">order #<%= order._id %></span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                                <strong>Billed To:</strong><br>
                                <%= order.user.fullName %> <br>
                                    Zip Code: <%= order.user.zipCode %><br>
                                        Email: <%= order.user.email %>
                            </address>
                        </div>
                        <div class="col-xs-6 text-right">
                            <address>
                                <strong>Order Date:</strong><br>
                                <%= order.date.toDateString() %>
                            </address>

                            <address>
                                <strong>Order Status:</strong><br>
                                Paid
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>ORDER SUMMARY</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="line">
                                        <td><strong>#</strong></td>
                                        <td class="text-center"><strong>COURSE</strong></td>
                                        <td class="text-center"><strong>QUANTITY</strong></td>
                                        <td class="text-right"><strong>PRICE</strong></td>
                                        <td class="text-right"><strong>SUBTOTAL</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i=0; i < order.items.length; i++) { %>
                                        <tr>
                                            <td>
                                                <%= i+1 %>
                                            </td>
                                            <td class="text-center"><strong>
                                                    <%= order.items[i].title %>
                                                </strong></td>
                                            <td class="text-center">
                                                <%= order.items[i].quantity %>
                                            </td>
                                            <td class="text-right">$<%= order.items[i].price.toLocaleString("en", {
                                                    minimumFractionDigits: 2, maximumFractionDigits:2}) %>
                                            </td>
                                            <td class="text-right">$<%=
                                                    order.items[i].extendedPrice.toLocaleString("en", {
                                                    minimumFractionDigits: 2, maximumFractionDigits:2}) %>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <tr>
                                                <td colspan="3"></td>
                                                <td class="text-right"><strong>Taxes</strong></td>
                                                <td class="text-right"><strong>N/A</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                </td>
                                                <td class="text-right"><strong>Total</strong></td>
                                                <td class="text-right"><strong>$<%= order.total.toLocaleString("en", {
                                                            minimumFractionDigits: 2, maximumFractionDigits:2}) %>
                                                    </strong></td>
                                            </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>