<div class="tab-pane fade" id="<%= `shop-${category.slug}` %>">
    <div class="row pb-3">
        <div class="col-12">
            <div class="row py-2">
                <div class="col-12">
                    <h2 class="text-center"><%= category.title %></h2>
                </div>
            </div>
            <div class="row">
                <% products.forEach(product => { 
                    if(product.category._id.equals(category._id)) { %>
                        <div class="col-md-3">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <a href="<%= `/product/${product.slug}` %>">
                                        <% if(product.images.length > 0) { %>
                                            <img class="card-img rounded-0 img-fluid shop-img" src="<%= product.images[0].url %>" alt="<%= product.images[0].alt %>">
                                        <% } else { %>
                                            <img class="card-img rounded-0 img-fluid shop-img" src="/img/product/missing_image.jpg" alt="Product image not available">
                                        <% } %>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="<%= `/product/${product.slug}` %>" class="h3 text-decoration-none fw-bold"><%= product.title %></a>
                                    <p class="text-left mb-0">$ <%= product.price %></p>
                                </div>
                            </div>
                        </div>
                    <% } 
                }) %>
            </div>
        </div>
    </div>
</div>