<input type="hidden" name="id" value="<%= product ? product._id : '' %>">
<div class="form-group col-12 py-2">
    <label class="form-label">Title</label>
    <input type="text" class="form-control mt-1" id="title" name="title" placeholder="Product Title" value="<%= product ? product.title : '' %>" required>
</div>
<div class="form-group col-6 py-2">
    <label class="form-label">Slug</label>
    <input type="text" class="form-control mt-1" id="slug" name="slug" placeholder="Product Slug" value="<%= product ? product.slug : '' %>" required>
</div>
<div class="form-group col-6 py-2">
    <label class="form-label">SKU</label>
    <input type="text" class="form-control mt-1" id="sku" name="sku" placeholder="Product SKU" value="<%= product ? product.sku : '' %>" required>
</div>
<div class="form-group col-6 py-2">
    <label class="form-label">Category</label>
    <select class="form-control mt-1" id="category" name="category">
        <% categories.forEach(category => { 
            let selected = ""
            if (product && (product.category.title == category.title)) selected = "selected" %>
            <option value="<%= category._id %>" <%= selected %> ><%= category.title %></option>
        <% }) %>
    </select>
</div>
<div class="form-group col-6 py-2">
    <label class="form-label">Price</label>
    <!-- <div class="input-group-prepend">
        <span class="input-group-text">$</span>
    </div> -->
    <input type="text" class="form-control" id="price" name="price" placeholder="0.00" value="<%= product ? product.price : ''%>" required>
</div>
<div class="form-group col-12 py-2">
    <label class="form-label">Variations</label><br>

    <% variationTypes.forEach((varType, index) => { %>
        <div class="row align-it">
            <div class="btn-group col-auto py-2 align-items-center" role="group" aria-label="Basic radio toggle button group">
                <% if(variations.filter(v => v.type._id.equals(varType._id)).length > 0) { %><p class="my-0 pe-2"><%= varType.name %><br></p> <% } %>
            <%  let checked = "";
            variations.forEach(variation => {
                if(product) {
                    product.variations.filter(v => {
                        if(v._id.equals(variation._id)) checked = "checked";
                    });
                }
                if(variation.type.slug == varType.slug) { %>
                    <input type="radio" class="btn-check" name="variations[<%= index %>]" id="<%=`btncheck${variation._id}`%>" value="<%= variation._id %>" <%= checked %> autocomplete="off">
                    <label class="btn btn-outline-primary" for="<%=`btncheck${variation._id}`%>"><%= variation.name %></label>
                <% } checked = [];
            }); %>
            </div>
        </div>
    <% }); %>
</div>
<div class="form-group col-12 py-2">
    <label class="form-label">Description</label>
    <textarea type="text" class="form-control" id="description" name="description" placeholder="Product Description..." required><%= product ? product.description : ''%></textarea>
</div>
<div class="form-group col-8 py-2">
    <button type="submit" class="btn btn-success btn-lg px-3"><%= product ? 'Update' : 'Create' %></button>
</div>